<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{t .LangUse "用户修改密码"}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="form">
                        <div class="box-body">

                            <div class="form-group">
                                <label for="password">{{t .LangUse "原密码"}}</label>
                                <input name="password" type="password" class="form-control" id="password" required placeholder="{{t .LangUse "登陆密码"}}">
                            </div>
                            <div class="form-group">
                                <label for="password">{{t .LangUse "新密码"}}</label>
                                <input name="password" type="password" class="form-control" id="newpassword" required placeholder="{{t .LangUse "登陆密码"}}">
                            </div>
                            <div class="form-group">
                                <label for="password">{{t .LangUse "确认密码"}}</label>
                                <input name="password" type="password" class="form-control" id="confimpassword" required placeholder="{{t .LangUse "登陆密码"}}">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary" onclick="submint()">{{t .LangUse "提交"}}</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</div>
<script>
    function submint(){
        var formData = new FormData()
        var confimpassword=$("#confimpassword").val()
        var newpassword=$("#newpassword").val()
        var password=$("#password").val()
        var p = /[0-9]/; var b = p.test(newpassword);//说明有数字
        var p1 = /[a-z]/i; var b1 = p1.test(newpassword);//true,说明有英文字母
        if (password.length==0){
            common_error({{t .LangUse "请输入初始化密码"}})
            return false
        }
        if (newpassword.length==0){
            common_error({{t .LangUse "请输入密码"}})
            return false
        }
        if (newpassword.length<8){
            common_error({{t .LangUse "请输入大于8位密码"}})
            return false
        }
        if (!(b1&&b)){
            common_error({{t .LangUse "请输入数字和字母组合"}})
            return false
        }

        if (confimpassword.length==0){
            common_error({{t .LangUse "请输入确认密码"}})
            return false
        }
        if (newpassword==password){
            common_error({{t .LangUse "与初始化密码一样，请重新输入"}})
            return false
        }

        if (newpassword!=confimpassword){
            common_error({{t .LangUse "确认密码不正确"}})
            return false
        }else{
            formData.append("password", JSON.stringify(password));
            formData.append("newpassword", JSON.stringify(newpassword));

            common_ajax_post("/account/fixpassword",formData,function () {

                    window.location.href = "/index"

                 },true,{{t .LangUse "确认修改密码？"}}
            )
        }
    }
</script>

<script>
    //提示框
    function common_sbumit_confirm(alertContext,callback) {
        swal({
            title: "", //弹出框的title
            text: alertContext, //弹出框里面的提示文本
            type: "warning", //弹出框类型
            showCancelButton: true, //是否显示取消按钮
            confirmButtonColor: "#DD6B55",//确定按钮颜色
            cancelButtonText: {{t .LangUse "取消"}},//取消按钮文本
            confirmButtonText: {{t .LangUse "确定"}},//确定按钮上面的文档
            closeOnConfirm: false
        },callback);
    }
    //错误提示
    function common_error(info) {

        sweetAlert("", info, "error");
    }
    //正确提示
    function common_suucess(info) {
        sweetAlert({title:"",
            text:info,
            type:"success",
            showConfirmButton:false});
    }
</script>
