<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        {{t .LangUse "系统配置"}}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{t .LangUse "搜索"}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="/sysconfig/system_config/list" method="get">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-3">
                                {{t .LangUse "配置名称"}}:<input name="item_name" type="text" class="form-control" placeholder="{{t .LangUse "配置名称"}}" value="{{.item_name}}" />
                                </div>
                                <div class="col-xs-3">
                                {{t .LangUse "生效状态"}}:
                                    <select name="status" class="form-control">
                                        <option value="-1">{{t .LangUse "全部"}}</option>
                                    {{range $value, $show := .StatusMap}}
                                        <option value="{{$value}}"{{if eq $.status $value}} selected{{end}}>{{t $.LangUse $show}}</option>
                                    {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="row"><p></p></div>
                            <div class="row">
                                <div class="col-xs-1">
                                    &nbsp;
                                    <input type="submit" class="form-control btn btn-block btn-info" value="{{t .LangUse "搜索"}}">
                                </div>
                                <div class="col-xs-1">
                                    &nbsp;<a href="/sysconfig/system_config/list" class="form-control">{{t .LangUse "清除"}}</a>
                                </div>
                                <div class="col-xs-1">
                                    &nbsp;<a href="javascript:void(0)" class="form-control reload-page">{{t .LangUse "刷新"}}</a>
                                </div>

                            </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-xs-2">
                                <button id="show_create_form" type="button" class="btn btn-block btn-warning">{{t .LangUse "新增配置"}}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>


        <div class="row hide" id="create_form">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-edit"></i>
                        <h3 class="box-title">{{t .LangUse "新增配置项"}}</h3>
                    </div>
                    <div class="box-body pad table-responsive">
                        <table class="table table-bordered text-center">
                            <tbody><tr>
                                <th>{{t .LangUse "配置项名称"}}</th>
                                <th>{{t .LangUse "配置项描述"}}</th>
                                <th>{{t .LangUse "配置项值类型"}}</th>
                                <th>{{t .LangUse "配置项值"}}</th>
                                <th>{{t .LangUse "后台显示权重"}}</th>
                            </tr>
                            <tr>
                                <td>
                                    <input name="item_name" id="p_item_name" type="text" required placeholder={{t .LangUse "合法变量名"}} />
                                </td>
                                <td>
                                    <textarea name="description" id="p_description" class="form-control" rows="3" placeholder={{t .LangUse "配置项简要描述"}}></textarea>
                                </td>
                                <td>
                                    <select name="item_type" id="p_item_type">
                                    {{range $v, $show := .SystemConfigItemTypeMap}}
                                        <option value="{{$v}}">{{$show}}</option>
                                    {{end}}
                                    </select>
                                </td>
                                <td>
                                    <textarea name="item_value" id="p_item_value" class="form-control" rows="3" placeholder={{t .LangUse "配置项值"}}></textarea>
                                </td>
                                <td>
                                    <input name="weight" type="number" id="p_weight" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="create_config" type="button" class="btn btn-block btn-primary">{{t .LangUse "提交"}}</button>
                                </td>
                                <td>
                                    <button id="hide_create_form" type="button" class="btn btn-block btn-info">{{t .LangUse "收起"}}</button>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>{{t .LangUse "ID"}}</th>
                                <th>{{t .LangUse "配置项名称"}}</th>
                                <th>{{t .LangUse "配置项描述"}}</th>
                                <th>{{t .LangUse "配置项值类型"}}</th>
                                <th>{{t .LangUse "配置项值"}}</th>
                                <th>{{t .LangUse "显示权重"}}</th>
                                <th>{{t .LangUse "上线时间"}}</th>
                                <th>{{t .LangUse "下线时间"}}</th>
                                <th>{{t .LangUse "有效状态"}}</th>
                                <th>{{t .LangUse "版本"}}</th>
                                <th>{{t .LangUse "操作员"}}</th>
                                <th>{{t .LangUse "创建时间"}}</th>
                                <th>{{t .LangUse "操作"}}</th>
                            </tr>
                        {{range .List}}
                            <tr>
                                <td>{{.Id}}</td>
                                <td>
                                    <p class="text-muted" style="word-break:break-all">{{.ItemName}}</p>
                                </td>
                                <td>
                                    <p style="word-break:break-all">{{t $.LangUse .Description}}</p>
                                </td>
                                <td>
                                    <p class="text-light-blue">{{systemConfigItemTypeDisplay $.LangUse .ItemType}}</p>
                                </td>
                                <td>
                                    <p style="word-break:break-all">{{.ItemValue}}</p>
                                </td>
                                <td>{{.Weight}}</td>
                                <td>{{.OnlineTime | mDateMHS}}</td>
                                <td>{{.OfflineTime | mDateMHS}}</td>
                                <td>{{statusDisplay $.LangUse .Status | str2html}}</td>
                                <td>{{.Version}}</td>
                                <td>{{.OpUid | operatorName}}</td>
                                <td>{{.Ctime | mDateMHS}}</td>
                                <td>
                                {{if eq .Status 0}}
                                    <button type="button" class="btn bg-maroon btn-flat switch-config" item-name="{{.ItemName}}" item-value="{{.ItemValue}}" item-type="{{.ItemType}}" weight="{{.Weight}}" description="{{.Description}}">{{t $.LangUse "重新生效"}}</button>
                                {{else}}
                                    <button type="button" class="btn bg-orange btn-flat modify-config" item-name="{{.ItemName}}" item-value="{{.ItemValue}}" item-type="{{.ItemType}}" weight="{{.Weight}}" description="{{.Description}}">{{t $.LangUse "修改"}}</button>
                                {{end}}
                                </td>
                            </tr>
                        {{end}}
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
