<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        {{t .LangUse "发放详情"}}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered" style="table-layout:fixed;word-wrap:break-word;word-break:break-all;">
                            <tr>
                                <th>{{t .LangUse "发放日期"}}</th>
                                <th>{{t .LangUse "发放数量"}}</th>
                                <th>{{t .LangUse "使用数量"}}</th>
                                <th>{{t .LangUse "使用比例"}}</th>
                                <th>{{t .LangUse "使用成功数量"}}</th>
                                <th>{{t .LangUse "使用成功比例"}}</th>
                            </tr>
                        {{range .List}}
                            <tr>
                                <td>{{mDateMHSDate .CouponDate}}</td>
                                <td>{{.TotalNum}}</td>
                                <td>{{.UsedNum}}</td>
                                <td>{{.UsedRate}}%</td>
                                <td>{{.SuccNum}}</td>
                                <td>{{.SuccRate}}%</td>
                            </tr>
                        {{end}}
                        </table>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                        {{template "inc/paginator.html" .}}
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
