<script>
$(function () {
  // 初始化时间范围选择插件
  // $('#apply_time_range').daterangepicker({locale: {
  //     format: 'YYYY-MM-DD'
  // }});

  $('#join_urge_time_range').daterangepicker({

    locale: {
      format: 'YYYY-MM-DD',
    },
    "autoUpdateInput": false,
  }, function(start, end, label) {
    $('#join_urge_time_range').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'))
  });

  $('#out_urge_time_range').daterangepicker({

    locale: {
      format: 'YYYY-MM-DD',
    },
    "autoUpdateInput": false,
  }, function(start, end, label) {
    $('#out_urge_time_range').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'))
  });

  $('#promise_repay_time').datetimepicker({
     format:'Y-m-d H:i',
     step: 5
  });


  function showWarningBox(messageContent) {
      var warningBoxContent = '<div class="callout callout-danger"><h4>Warning!</h4><p>' + messageContent +  '</p> </div>';
      showBoxMsg(warningBoxContent);
  }

  function showBoxMsg(msg) {
      $("#smallModal div.modal-body").html(msg);
      $("#smallModal").modal('show');
  }

  $("#submit").on("click", function(){
    var overdueDaysStart = $('#overdue_days_start').val();
    var overdueDaysEnd = $('#overdue_days_end').val();

    var rS = parseInt(overdueDaysStart)
    var rE = parseInt(overdueDaysEnd)
    if(rS>rE) {
       showBoxMsg('{{t .LangUse "逾期天数起始值大于终止值"}}')
       //e.preventDefault();
       return false
    }
  });

    $("#selectAll").on("click", function(){
    var isCheckedAll = $(this).is(':checked')
    if(isCheckedAll == true ){
      $(".listCheckBox").prop("checked",true)
    } else {
      $(".listCheckBox").prop("checked",false)
    }

  });


$("#create_ticket").click(function(){
  var id=$(this).attr("data-id")
  if (id>0){
    $.ajax({
        type: "GET",
        url: '/overdue/create_ticket?id='+id,
        dataType: 'json',
        success: function (data) {
            console.log(data)
            alert("Create ticket success")
            window.location.reload()
        }
    });
  }

});

  $('#batchAssign').on('click', function (event) {
    var assignTickets = '';
    var count = 0
    $('input:checkbox[name=listCheckBox]:checked').each(function(k){
        if(k == 0){
            assignTickets = $(this).val();
        }else{
            assignTickets += ','+$(this).val();
        }
        count++
    })
    if (count>0){
      $.ajax({
        type: "GET",
        url: '/overdue/create_ticket?id='+assignTickets,
        dataType: 'json',
        success: function (data) {
            console.log(data)
            alert("Total count:"+count+" Success count:"+data.data)
            window.location.reload()
        }
    });
    }

  });

});


</script>
