<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{t .LangUse "委外审批"}}
            </h1>
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{t .LangUse "搜索"}}</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="/overdue/entrust_approval_list" method="get">
                            <div class="box-body">
                                

                                <div class="row">
                                   
                                    <div class="col-xs-3">
                                    {{t .LangUse "借款"}}ID:<input name="order_id" type="number" class="form-control" placeholder="{{t .LangUse "借款"}}" value="{{.order_id}}" />
                                    </div>
                                    <div class="col-xs-3">
                                    {{t .LangUse "账户"}}ID:<input name="account_id" type="number" class="form-control" placeholder="{{t .LangUse "账户"}}" value="{{.account_id}}" />
                                    </div>
                                    <div class="col-xs-3">
                                    {{t .LangUse "审批状态"}}:
                                        <select name="is_agree" class="form-control">
                                            <option value="-1">{{t .LangUse "请选择"}}</option>
                                        {{range $value, $show := $.AgreeEnumMap}}
                                            <option value="{{$value}}" {{if eq $.isAgree $value}} selected{{end}}>{{t $.LangUse $show}}</option>
                                        {{end}}
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                    {{t .LangUse "委外状态"}}:
                                        <select name="is_entrust" class="form-control">
                                            <option value="-1">{{t .LangUse "请选择"}}</option>
                                        {{range $value, $show := $.EntrustEnumMap}}
                                            <option value="{{$value}}" {{if eq $.isEntrust $value}} selected{{end}}>{{t $.LangUse $show}}</option>
                                        {{end}}
                                        </select>
                                    </div>
                                   
                                    
                                </div>
                                <div class="row"><p>&nbsp;</p></div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        {{t .LangUse "委外申请起止日期"}}:
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input name="entrust_apply_range"  id="entrust_apply_range" type="text" readonly class="form-control" origin="{{.entrustApplyRange}}" placeholder="{{t $.LangUse "选择日期范围"}}" value="{{.entrustApplyRange}}" />
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                            {{t .LangUse "委外公司"}}:
                                                <select name="pname" class="form-control">
                                                    <option value="-1">{{t .LangUse "请选择"}}</option>
                                                {{range $value, $show := $.EntrustCompanyMap}}
                                                    <option value="{{$value}}" {{if eq $.pname $value}} selected{{end}}>{{t $.LangUse $show}}</option>
                                                {{end}}
                                                </select>
                                            </div>
    
                                </div>
    
                                <div class="row"><p>&nbsp;</p></div>
    
    
                                <div class="row">
                                    
                                    <div class="col-xs-1">
                                        &nbsp;
                                        <input type="submit" id="submit" class="form-control btn btn-block btn-info" value="{{t .LangUse "搜索"}}">
                                    </div>

                                    <div class="col-xs-1">
                                        &nbsp;<a href="/overdue/entrust_approval_list" class="form-control">{{t .LangUse "清除"}}</a>
                                    </div>
                                    <div class="col-xs-1">
                                        &nbsp;<a href="javascript:void(0)" class="form-control reload-page">{{t .LangUse "刷新"}}</a>
                                    </div>
                                    <div class="col-xs-2">
                                            &nbsp;<input type="button" id="batchAssign" data-remote="/overdue/entrust_approval/batch_assign_page" data-toggle="modal" data-target="#batchAssignModal" class="form-control btn btn-warning" value="{{t .LangUse "批量分配"}}">
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                    {{template "inc/paginator.html" .}}
                                    </ul>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th class="listMultiSelect" style="">
                                        <input type="checkbox"  value="" id="selectAll" name="buttonAll"/><label for="selectAll">{{t .LangUse "全选"}}</label>
                                    </th>
                                    <th class="th_sort" id="OrderId">{{t .LangUse "借款"}}ID<i id="iOrderId" class="text-primary glyphicon glyphicon-resize-vertical"></i></th>
                                    <th>{{t .LangUse "客户姓名"}}</th>
                                    <th>{{t .LangUse "手机号"}}</th>
                                    <th>{{t .LangUse "状态"}}</th>
                                    <th class="th_sort" id="RepayDate">{{t .LangUse "应还日期"}}<i id="iRepayDate" class="text-primary glyphicon glyphicon-resize-vertical"></i></th>
                                    <th class="th_sort" id="TotalRepay">{{t .LangUse "应还总额"}}<i id="iTotalRepay" class="text-primary glyphicon glyphicon-resize-vertical"></i></th>
                                    <th class="th_sort" id="JoinUrgeTime">{{t .LangUse "入催时间"}}<i id="iJoinUrgeTime" class="text-primary glyphicon glyphicon-resize-vertical"></i></th>
                                    <th class="th_sort" id="OverdueDays">{{t .LangUse "逾期天数"}}<i id="iOverdueDays" class="text-primary glyphicon glyphicon-resize-vertical"></i></th>
                                    <th>{{t .LangUse "案件级别"}}</th>
                                    <th>{{t .LangUse "实还金额"}}</th>
                                    <!-- th>{{t .LangUse "承诺还款时间"}}</th -->
                                    <!-- th>{{t .LangUse "最近一次催收时间"}}</th -->
    
                                    <th>{{t .LangUse "催收类型"}}</th>
                                    <th>{{t .LangUse "委外公司"}}</th>
                                    <th>{{t .LangUse "委外状态"}}</th>
                                    
                                {{if eq 1 .filter}}
                                    <th>{{t .LangUse "出催原因"}}</th>
                                    <th>{{t .LangUse "出催时间"}}</th>
                                {{end}}
                                </tr>
                            {{range .List}}
                                {{if eq (.PromiseRepayTime | checkPromiseIsToday) true}}
                                    {{if eq 0 .IsOut}}
                                        <tr style="background-color:darkgoldenrod" >
                                    {{else}}
                                        <tr>
                                    {{end}}
                                {{else}}
                                    <tr>
                                {{end}}
                                <td class="listMultiSelect" style="" >
                                    <input type="checkbox" class="listCheckBox" name="listCheckBox"  value="{{.OrderId}}" />
                                </td>
                                    <td>{{.OrderId}}</td>
                                    <td><a href="/customer/detail?id={{.AccountId}}">{{.Realname}}</a></td>
                                    <td><a href="/customer/detail?id={{.AccountId}}">{{.Mobile}}</a></td>
                                    <td>{{isOutDisplay $.LangUse .IsOut}}</td>
                                    <td>{{.RepayDate | mDateMHSDate}}</td>
                                    <td>{{.TotalRepay}}</td>
                                    <td>{{.JoinUrgeTime | mDateMHS}}</td>
                                    <td>{{.OverdueDays}}</td>
                                    <td>{{.CaseLevel}}</td>
    
                                    <td>{{.TotalRepayPayed}}</td>
                                    <!-- td>{{.PromiseRepayTime | mDateMHSDate}}</td -->
                                    <!-- td>{{.PhoneTime | mDateMHSDate}}</td -->
    
                                    <td>
                                        {{if eq "" .EntrustPname}}
                                        {{t $.LangUse "自催"}}
                                        {{else}}
                                        {{t $.LangUse "委外"}}
                                        {{end}}
                                    </td>
                                    <td>{{entrustCompanyDisplay $.LangUse .EntrustPname}}</td>

                                    <td>

                                        {{if ne "" .EntrustPname}}
                                        {{entrustStatusDisplay $.LangUse .IsEntrust}}
                                        {{end}}
                                    
                                    </td>
                                {{if eq 1 $.filter}}
                                    <td>{{urgeOutReasonDisplay $.LangUse .OutReason}}</td>
                                    <td>{{.OutUrgeTime | mDateMHS}}</td>
                                {{end}}
                                    
                                </tr>
                            {{end}}
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                            {{template "inc/paginator.html" .}}
                            </ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    
    <div class="modal fade" id="batchAssignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
          
              </div>
            </div>
          </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="smallModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="smallModalLabel">Warning</h4>
                </div>
                <div class="modal-body" id="resultMessage">
                    Loading...
                </div>
            </div>
        </div>
    </div>
    