<style>

.nav-tabs-custom>.nav-tabs>li.active {
            border-top-color: #fff;
        }
        .nav-tabs-custom>.nav-tabs>li.red.active a{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.blue.active a{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.yellow.active a{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.glay.active a{
            background-color:#DD4B39;
            color:#fff;
        }

        .nav-tabs-custom>.nav-tabs>li.red.active a:hover{
            background-color:#ee9489;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.blue.active a:hover{
            background-color:#89bcda;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.yellow.active a:hover{
            background-color:#f9c774;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.glay.active a:hover{
            background-color:#BDBDBD;
            color:#fff;
        }
        
        .nav-tabs-custom>.nav-tabs>.red a{
            background-color:#ee9489;
        }
        .nav-tabs-custom>.nav-tabs>.blue a{
            background-color:#89bcda;
        }
        .nav-tabs-custom>.nav-tabs>.yellow a{
            background-color:#f9c774;
        }
        .nav-tabs-custom>.nav-tabs>.glay a{
            background-color:#BDBDBD;
        }
        .nav-tabs-custom>.nav-tabs>li a{
            border-radius:4px 4px 0px 0px;
            min-width:168px;
            height:40px;
            background-color:#89bcda;
            color:#fff;
            font-size: 1.1em;
            text-align: center;
        }
      
        .nav-tabs-custom>.nav-tabs>.red a:hover{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>.blue a:hover{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>.yellow a:hover{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>.glay a:hover{
            background-color:#DD4B39;
            color:#fff;
        }

.btn-info{
    background-color: #37b1f8;
    border-color: #2dabf5;
    border-radius: 15px;
}
.text-info-light{
    color:#37b1f8;
}
.btn-default{
    border-radius: 15px;
}
.line-row{
    margin:8px 0 0 0px;
    padding:8px;
    font-size:15px;
}
.line-row:nth-of-type(odd){ background:#fafafa;}
.line-row-son{
    margin:8px 0 0 0px;
}
</style>