<script>
$(function () {

  $('#apply_time_range').daterangepicker({
    locale: {
      format: 'YYYY-MM-DD',
    },
    "autoUpdateInput": false,
  }, function(start, end, label) {
    $('#apply_time_range').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'))
  });
    $('#ctime_range').daterangepicker({
        locale: {
            format: 'YYYY-MM-DD',
        },
        "autoUpdateInput": false,
    }, function(start, end, label) {
        $('#ctime_range').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'))
    });

});

</script>
