<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        {{t .LangUse "借款管理"}}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{t .LangUse "搜索"}}</h3>
                    </div>

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="/order/templist" method="get">
                        <div class="box-body">

                            <div class="row">

                                <div class="col-xs-3">
                                {{t .LangUse "手机号码"}}:<input name="mobile" type="number" class="form-control"
                                                             placeholder="{{t .LangUse "手机号码"}}"
                                                             value="{{if gt .mobile 0}}{{.mobile}}{{end}}"/>
                                </div>
                                <div class="col-xs-3">
                                {{t .LangUse "客户姓名"}}:<input name="realname" type="text" class="form-control"
                                                             placeholder="{{t .LangUse "客户姓名"}}" value="{{.realname}}"/>
                                </div>

                               {{/* <div class="col-xs-3">
                                {{t .LangUse "目前步骤"}}:<input name="mobile" type="number" class="form-control"
                                                             placeholder="{{t .LangUse "查询步骤"}}"
                                                             value="{{if gt .mobile 0}}{{.mobile}}{{end}}"/>
                                </div>*/}}
                            </div>

                            <div class="row"><p>&nbsp;</p></div>
                            <div class="row">
                                <div class="col-xs-3">
                                {{t .LangUse "创建时间"}}:
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="ctime_range" id="ctime_range" type="text" readonly
                                               class="form-control" origin="{{.ctime_range}}"
                                               placeholder="{{t $.LangUse "选择日期范围"}}" value="{{.ctime_range}}"/>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1">
                                    &nbsp;<input type="submit" class="form-control btn btn-block btn-info"
                                                 value="{{t .LangUse "搜索"}}">
                                </div>
                                <div class="col-xs-1">
                                    &nbsp;<a href="/order/list" class="form-control">{{t .LangUse "清除"}}</a>
                                </div>
                                <div class="col-xs-1">
                                    &nbsp;<a href="javascript:void(0)"
                                             class="form-control reload-page">{{t .LangUse "刷新"}}</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="th_sort" id="Id">{{t .LangUse "借款"}}ID<i id="iId"
                                                                                    class="text-primary glyphicon glyphicon-resize-vertical"></i>
                                </th>
                                <th>{{t .LangUse "客户姓名"}}</th>
                                <th>{{t .LangUse "手机号码"}}</th>
                                <th class="th_sort" id="Loan">{{t .LangUse "放贷金额"}}<i id="iLoan"
                                                                                      class="text-primary glyphicon glyphicon-resize-vertical"></i>
                                </th>

                                <th class="th_sort" id="Period">{{t .LangUse "借款期限"}}<i id="iPeriod"
                                                                                        class="text-primary glyphicon glyphicon-resize-vertical"></i>
                                </th>
                                <th>{{t .LangUse "目前步骤"}}</th>
                                <th class="th_sort" id="Ctime">{{t .LangUse "创建时间"}}<i id="iCtime"
                                                                                       class="text-primary glyphicon glyphicon-resize-vertical"></i>
                                </th>
                                <th>{{t .LangUse "操作"}}</th>
                            </tr>
                        {{range .List}}
                            <tr>
                                <td>{{.Id}}</td>
                                <td><a href="/customer/detail?id={{.UserAccountId}}" target="_blank">{{.Realname}}</a>
                                </td>
                                <td>{{.Mobile}}</td>

                                <td>{{.Loan}}</td>
                                <td>{{.Period}}</td>
                                <td>{{.CTemp}}</td>
                                <td>{{.Ctime | mDateMHS}}</td>
                                <td>
                                      <a href="/riskctl/follow?id={{.Id}}" target="_blank">设备信息</a>
                            </tr>
                        {{end}}
                        </table>
                    </div>

                  x  <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                        {{template "inc/paginator.html" .}}
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

