<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        {{t .LangUse "浮窗"}}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                   
                    <form class="form-horizontal" action="/activity/add_floating" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="row"><p></p></div>
                        </div>
                        <div class="row box-body">
                            <div class="col-xs-2">
                                <button id="show_create_form" type="button" class="btn btn-block btn-warning">{{t .LangUse "新增浮窗页"}}</button>
                            </div>
                        </div>

                        <div class="row hide" id="create_form">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-header">
                                            <i class="fa fa-edit"></i>
                                            <h3 class="box-title">{{t .LangUse "新增浮窗页"}}</h3>
                                        </div>
                                        <div class="box-body pad table-responsive">
                                            <table class="table table-bordered text-center">
                                                <tbody><tr>
                                                    <th>{{t .LangUse "图片添加"}}</th>
                                                    <th>{{t .LangUse "跳转链接"}}</th>
                                                    <th>{{t .LangUse "原生映射值"}}</th>
                                                    <th>{{t .LangUse "浮窗位置"}}</th>
                                                    <th>{{t .LangUse "显示时间段"}}</th>
                                                </tr>
                                                
                                                <tr class = "group_file" show>
                                                        <td>
                                                                <input type="file" name="file0"  id = "file0" value={{t .LangUse "请上传图片"}}/>
                                                                <img id="image0"/>
                                                        </td>
                                                        <td>
                                                                <input name="link_url" id="link_url" type="text" class="form-control" rows="2" origin="{{$.linkUrl}}" placeholder={{t .LangUse "跳转链接"}}></textarea>
                                                        </td>
                                                        <td>
                                                                <input name="source_page" id="source_page" type="text" class="form-control" rows="2" origin="{{$.sourcePage}}" placeholder={{t .LangUse "原生映射值"}}></textarea>
                                                        </td>
                                                        <td>
                                                        <div class="col-xs-16">
                                                                <select name="floating_tags"  id="floating_tags" class=" form-control">
                                                                {{range $value, $show := $.tagFloatingMap}}
                                                                    <option value="{{$value}}"{{if isInMap $.selectedTagUserMap $value}} selected {{end}}>{{t $.LangUse $show}}</option>
                                                                {{end}}
                                                                </select>
                                                        </div>
                                                       </td>
                                                       
                                                       <td>
                                                        <div class="col-xs-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </div>
                                                                <input name="stime_range"  id="stime_range" type="text" readonly class="form-control" origin="{{$.stimeRange}}" placeholder="{{t $.LangUse "选择开始日期"}}" value="{{$.ctimeRange}}" />
                                                            </div>
                                                        </div>
                                                   
                                                        <div class="col-xs-6">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </div>
                                                                    <input name="etime_range"  id="etime_range" type="text" readonly class="form-control" origin="{{$.etimeRange}}" placeholder="{{t $.LangUse "选择结束日期"}}" value="{{$.ctimeRange}}" />
                                                                </div>
                                                            </div>
                                                      </td>
                                                       <td>
                                                        <input name="r_id" id="r_id" type="hidden" class="form-control" rows="2" origin="{{$.r_id}}"  placeholder = 0></textarea>
                                                      </td> 
                                                      <td>
                                                        <input name="ids" id="ids" type="hidden" class="form-control" rows="2" origin="{{$.ids}}"  placeholder = 0></textarea>
                                                      </td> 
                                                    
                                                    </tr>
                                                <tr>   

                                                     <input type="hidden" value="0" name="file_num" id="file_num" />
                                                        <td>
                                                            <button id="submit"  type="submit"  class=" btn-primary">{{t .LangUse "提交"}}</button>
                                                        </td>
                                                        <td>
                                                            <button id="hide_create_form" type="button" class=" btn-primary">{{t .LangUse "收起"}}</button>
                                                        </td>
                                                       
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>


        

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                       <form class="form-horizontal" action="/operation/update_banner_postion" method="get">
                        <table class="table table-bordered table-striped">
                                <tbody>
                            <tr>
                                <th>{{t .LangUse "图片"}}</th>
                                <th>{{t .LangUse "跳转链接"}}</th>
                                <th>{{t .LangUse "原生映射值"}}</th>
                                <th>{{t .LangUse "浮窗位置"}}</th>
                                <th>{{t .LangUse "操作"}}</th>
                                <th>{{t .LangUse "开始时间"}}</th>
                                <th>{{t .LangUse "结束时间"}}</th>
                            </tr>
                        {{range .List}}
                            <tr>
                                <td><img src={{.PicUrl}} style="height:200px;width=200px;" /></td>
                                    <td>{{.LinkUrl}}</td>
                                <th>{{.SourcePage}}</th>
                                <th>
                                {{if eq .FPostion 1}}
                                首页浮窗    
                                {{else if eq .FPostion 2}}

                                确认订单页浮窗
                                {{else}}
                                  -
                                {{end}}
                                </th>
                                <th>
                                    <button type="button" class="btn bg-orange btn-flat modify-config"  s_time="{{.StartTm | mDateMHS}}" e_time="{{.EndTm | mDateMHS}}" id_tmp = "{{.Id}}" r_id="{{.ResourceId}}" link_url="{{.LinkUrl}}" source_page="{{.SourcePage}}" tags="{{.FPostion}}">{{t $.LangUse "修改"}}</button>|
                                    <button type="button" class="btn bg-orange btn-flat super_delete_customer" data-id="{{.Id}}" >{{t $.LangUse "删除"}}</button>
                                </th>
                                <td>{{.StartTm  | mDateMHS}}</td>
                                <td>{{.EndTm  | mDateMHS}}</td>
                            </tr>

                            {{end}}
                           
                        </table>
                    </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
