<style>

        .nav-tabs-custom>.nav-tabs>li.active {
            border-top-color: #fff;
        }
        .nav-tabs-custom>.nav-tabs>li.red.active a{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.blue.active a{
            background-color:#00c0ef;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.yellow.active a{
            background-color:#f39c12;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.glay.active a{
            background-color:#52514e;
            color:#fff;
        }

        .nav-tabs-custom>.nav-tabs>li.red.active a:hover{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.blue.active a:hover{
            background-color:#00c0ef;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.yellow.active a:hover{
            background-color:#f39c12;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>li.glay.active a:hover{
            background-color:#52514e;
            color:#fff;
        }
        
        .nav-tabs-custom>.nav-tabs>.red a{
            background-color:#ee9489;
        }
        .nav-tabs-custom>.nav-tabs>.blue a{
            background-color:#89bcda;
        }
        .nav-tabs-custom>.nav-tabs>.yellow a{
            background-color:#f9c774;
        }
        .nav-tabs-custom>.nav-tabs>.glay a{
            background-color:#BDBDBD;
        }
        .nav-tabs-custom>.nav-tabs>li a{
            border-radius:4px 4px 0px 0px;
            min-width:168px;
            height:40px;
            background-color:#89bcda;
            color:#fff;
            font-size: 1.1em;
            text-align: center;
        }
      
        .nav-tabs-custom>.nav-tabs>.red a:hover{
            background-color:#DD4B39;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>.blue a:hover{
            background-color:#00c0ef;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>.yellow a:hover{
            background-color:#f39c12;
            color:#fff;
        }
        .nav-tabs-custom>.nav-tabs>.glay a:hover{
            background-color:#52514e;
            color:#fff;
        }
        
        </style>