<script>
$(function () {
  // 初始化时间范围选择插件
  // $('#apply_time_range').daterangepicker({locale: {
  //     format: 'YYYY-MM-DD'
  // }});

  $('#ctime_range').daterangepicker({
    locale: {
      format: 'YYYY-MM-DD',
    },
    "autoUpdateInput": false,
  }, function(start, end, label) {
    $('#ctime_range').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'))
  });

  $(".export").on("click",function(){
    console.log($("#searchForm").serialize())

    window.open("/feedback/export?" + $("#searchForm").serialize(), "_blank");
    return false
  })


});
$(document).ready(function () {
        $('#show_create_form').click(function () {
            $('#create_form').removeClass('hide'); 
        });
        $('#hide_create_form').click(function () {
            $('#create_form').addClass('hide');
        });
    });
    


$('.modify-config').click(function () {
        $('#create_form').removeClass('hide');
        var obj = $(this);
        $('#ids').attr("value", obj.attr('id_tmp'));
    });

</script>
